In [2]:
from scipy import stats
import pandas as pd
import numpy as np

In [3]:
glaxo_df=pd.read_csv('glaxo_df.csv')

In [4]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 9865-CB66

 Directory of C:\Users\sumit\Documents\Excelr

08-11-2025  20:46    <DIR>          .
11-10-2025  11:05    <DIR>          ..
08-11-2025  20:46    <DIR>          .ipynb_checkpoints
21-10-2025  12:32    <DIR>          Assignment
21-10-2025  19:20           103,983 BEML.csv
08-11-2025  20:45            87,155 beml_df.csv
08-11-2025  20:45             1,681 Confidence Interval.ipynb
21-10-2025  19:20           107,633 GLAXO.csv
08-11-2025  20:46            88,939 glaxo_df.csv
15-10-2025  12:29            17,765 Introduction to python.ipynb
15-10-2025  12:28             1,336 mtcars.csv
22-10-2025  12:07           239,760 Normal Disribution.ipynb
20-10-2025  15:30           128,905 Pandas_Introduction.ipynb
15-10-2025  12:28             2,205 Salaries.csv
16-10-2025  18:44            43,979 scatter plot.jpg
16-10-2025  18:43            36,731 scatter plot.png
15-10-2025  12:28            61,194 train.csv
20-10-2025  12:05         1,303,741 Visualization_mat_seaborn_Latest.ipynb
              14 File(s)      2,225,007 bytes
               4 Dir(s)  16,468,946,944 bytes free

In [5]:
glaxo_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

In [14]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_df_ci, 3))

Gain at 95% confidence interval is: [-0.026  0.027]

In [11]:
beml_df=pd.read_csv('beml_df.csv')

beml_df_ci = stats. norm.interval(0.95,
loc=beml_df.gain.mean(),
scale=beml_df.gain.std())

# t-distribution

In [7]:
glaxo_df_ci = stats.t.interval(0.95, 1737,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_df_ci, 3))

Gain at 95% confidence interval is: [-0.026  0.027]

In [12]:
beml_df_ci = stats.t.interval(0.95, 1737,
                             loc = beml_df.gain.mean(),
                             scale = beml_df.gain.std())
print('Gain at 95% confidence interval is:', np.round(beml_df_ci,3))

Gain at 95% confidence interval is: [-0.052  0.052]